@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 6fr 0.5fr;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 255, 118);
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
    align-items: flex-end;
}


.display {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/2/2/3;
}

.displayPlayer {
    font-weight: 600;
    font-size: 1.1rem;
}

.main {
    display: grid;
    grid: 1fr 4fr 1fr/ 1fr 1.5fr 1fr;
    justify-items: center;
}
.gameboard {
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    gap: 5px;
    aspect-ratio: 1 / 1;
    padding: 5px;
    border-radius: 5%;
    max-height: 60vh;
    background-color: white;
    border: thin solid white;
    grid-area: 2/2/3/3;
}
.footer {   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(54, 54, 54);
    font-size: 1rem;
}

.square {
    border-radius: 5%;
    background-color: rgb(167, 206, 238);
    transition: 0.3s;
}

.square:hover {
    background-color: steelblue;
    cursor: pointer;
}